header {
  background-color: black;
  color: white !important;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header p {
  margin: 0;
  font-size: 1.5rem;
  color: white !important;
}
